.foni {
    background-color: #9ce2e7;
    height: 100vh;
    width: 100vw;
    position: relative;
    animation: dgegame 40s infinite;
} 
@keyframes dgegame {
    0% {background-color: #17161b;}
    5% {background-color: #9ce2e7;}
    10% {background-color: #9ce2e7;}
    15% {background-color: #9ce2e7;}
    20% {background-color: #9ce2e7;}
    25% {background-color: #9ce2e7;}
    30% {background-color: #9ce2e7;}
    35% {background-color: #9ce2e7;}
    40% {background-color: #9ce2e7;}
    45% {background-color: #9ce2e7;}
    49% {background-color: #9ce2e7;}
    50% {background-color: #17161b;}
    55% {background-color: #17161b;}
    60% {background-color: #17161b;}
    65% {background-color: #17161b;}
    70% {background-color: #17161b;}
    75% {background-color: #17161b;}
    80% {background-color: #17161b;}
    85% {background-color: #17161b;}
    90% {background-color: #17161b;}
    95% {background-color: #17161b;}
    99% {background-color: #17161b;}
    100% {background-color: #17161b;}

}
.ukanamta {
    height: 120vh;
    width: 60vw;
    position: absolute;
    background-color: #063a0e;
    rotate: 45deg;
    display: inline-block;
    margin-top: 20%;
    margin-left: 20%;
    z-index: 3;
    animation: ukanamta 40s infinite;
}
@keyframes ukanamta {
    0% {background-color: #042c0a;}
    5% {background-color: #063a0e;}
    10% {background-color: #063a0e;}
    15% {background-color: #063a0e;}
    20% {background-color: #063a0e;}
    25% {background-color: #063a0e;}
    30% {background-color: #063a0e;}
    35% {background-color: #063a0e;}
    40% {background-color: #063a0e;}
    45% {background-color: #063a0e;}
    49% {background-color: #063a0e;}
    50% {background-color: #042c0a;}
    55% {background-color: #042c0a;}
    60% {background-color: #042c0a;}
    65% {background-color: #042c0a;}
    70% {background-color: #042c0a;}
    75% {background-color: #042c0a;}
    80% {background-color: #042c0a;}
    85% {background-color: #042c0a;}
    90% {background-color: #042c0a;}
    95% {background-color: #042c0a;}
    99% {background-color: #042c0a;}
    100% {background-color: #042c0a;}
}
.shuamta {
    height: 90vh;
    width: 60vw;
    position: absolute;
    background-color: #154e1e;
    rotate: 45deg;
    display: inline-block;
    margin-top: 27%;
    z-index: 4;
    animation: shuamta 40s infinite;
}
@keyframes shuamta {
    0% {background-color: #0c3511;}
    5% {background-color: #154e1e;}
    10% {background-color: #154e1e;}
    15% {background-color: #154e1e;}
    20% {background-color: #154e1e;}
    25% {background-color: #154e1e;}
    30% {background-color: #154e1e;}
    35% {background-color: #154e1e;}
    40% {background-color: #154e1e;}
    45% {background-color: #154e1e;}
    49% {background-color: #154e1e;}
    50% {background-color: #0c3511;}
    55% {background-color: #0c3511;}
    60% {background-color: #0c3511;}
    65% {background-color: #0c3511;}
    70% {background-color: #0c3511;}
    75% {background-color: #0c3511;}
    80% {background-color: #0c3511;}
    85% {background-color: #0c3511;}
    90% {background-color: #0c3511;}
    95% {background-color: #0c3511;}
    99% {background-color: #0c3511;}
    100% {background-color: #0c3511;}
}
.winamta {
    height: 80vh;
    width: 40vw;
    position: absolute;
    background-color: #296332;
    rotate: 45deg;
    display: inline-block;
    margin-top: 31%;
    margin-left: 57%;
    z-index: 5;
    animation: winamta 40s infinite;
}
@keyframes winamta {
    0% {background-color: #18421e;}
    5% {background-color: #296332;}
    10% {background-color: #296332;}
    15% {background-color: #296332;}
    20% {background-color: #296332;}
    25% {background-color: #296332;}
    30% {background-color: #296332;}
    35% {background-color: #296332;}
    40% {background-color: #296332;}
    45% {background-color: #296332;}
    49% {background-color: #296332;}
    50% {background-color: #18421e;}
    55% {background-color: #18421e;}
    60% {background-color: #18421e;}
    65% {background-color: #18421e;}
    70% {background-color: #18421e;}
    75% {background-color: #18421e;}
    80% {background-color: #18421e;}
    85% {background-color: #18421e;}
    90% {background-color: #18421e;}
    95% {background-color: #18421e;}
    99% {background-color: #18421e;}
    100% {background-color: #18421e;}
}
.ukanamtaupgrubeli {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    margin-left: 50%;
    z-index: 100;
    opacity: 0.8;
    animation: ukanamtaupgrubeli 3s infinite;
    animation-timing-function: ease-in;
}
@keyframes ukanamtaupgrubeli {
    0% {top: 0%;}
    50% {top: 3%;}
    100% {top: 0%;} 
}
.ukanamtadowngrubeli {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    z-index: 100;
    opacity: 0.8;
    animation: 5s ukanamtadowngrubeli 3.5s infinite;
    animation-timing-function: ease-in; 
}
@keyframes ukanamtadowngrubeli {
    0% {top: 0%;}
    50% {top: 3%;}
    100% {top: 0%;} 
}
.grubeli3 {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    margin-left: 30%;
    z-index: 100;
    opacity: 0.8;
    animation: 6s grubeli3 2s infinite;
    animation-timing-function: ease-out;
}
@keyframes grubeli3 {
    0% {top: 0%}
    50% {top: 4%}
    100% {top: 0%}
}
.grubeli2 {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    z-index: 100;
    opacity: 0.8;
    animation: 7s grubeli2 3s infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate-reverse;
}
@keyframes grubeli2 {
    0% {top: 0%;}
    50% {top: 5%;}
    100% {top: 2%;}
}
.grubeli1 {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    margin-left: 10%;
    z-index: 100;
    opacity: 0.8;
    animation: 4s grubeli1 5s infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
}
@keyframes grubeli1 {
    0% {top: 0%;}
    50% {top: 6%;}
    100% {top: 2%;}
}
.grubeli {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    margin-left: 0%;
    z-index: 100;
    opacity: 0.8;
    animation: 2s grubeli 3s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes grubeli {
    0% {top: 0%;}
    50% {top: 4%;}
    100% {top: 1%;}
}
.grubeli4 {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    margin-left: 60%;
    z-index: 100;
    opacity: 0.8;
    animation: 3s grubeli4 1s infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
}
@keyframes grubeli4 {
    0% {top: 0%;}
    50% {top: 3%;}
    100% {top: 5%;}
}
.grubeli5 {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    margin-left: 70%;
    z-index: 100;
    opacity: 0.8;
    animation: 3s grubeli5 4s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes grubeli5 {
    0% {top: 0%;}
    50% {top: 4%;}
    100% {top: 1%;}
}
.grubeli6 {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    margin-left: 80%;
    z-index: 100;
    opacity: 0.8;
    animation: 4s grubeli6 3s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes grubeli6 {
    0% {top: 0%;}
    50% {top: 6%;}
    100% {top: 2%;}
}
.grubeli7 {
    height: 120px;
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    margin-left: 90%;
    z-index: 100;
    opacity: 0.8;
    animation: 5s grubeli7 5s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes grubeli7 {
    0% {top: 0%;}
    50% {top: 5%;}
    100% {top: 3%;}
}
.sun {
    display: inline-block;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ecae27;
    border-radius: 50%;
    z-index: 1;
    margin-left: -500px;
    margin-top: 300px;
    animation: sun 40s infinite;
    animation-timing-function: linear;
    box-shadow:
        0 0 100px 70px rgb(253, 200, 54)
}
@keyframes sun {
    0% {left: 0px; bottom: -70px;}
    5% {left: 570px; top: -120px;}
    10% {left: 780px; top: -150px;}
    15% {left: 990px; top: -170px;}
    20% {left: 1200px; top: -190px;}
    25% {left: 1410px; top: -200px;}
    30% {left: 1620px; top: -190px;}
    35% {left: 1830px; top: -170px;}
    40% {left: 2040px; top: -150px;}
    45% {left: 2250px; top: -120px;}
    50% {left: 2570px; top: -70px;}
    55% {}
    60% {}
    65% {}
    70% {}
    75% {}
    80% {}
    85% {}
    90% {}
    95% {}
    100% {}
}
.suninside {
    display: inline-block;
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #e79c0f;
    border-radius: 50%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.moon {
    display: inline-block;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #adb0b1;
    border-radius: 50%;
    z-index: 1;
    margin-left: -200px;
    margin-top: 300px;
    animation: moon 40s infinite;
    animation-timing-function: linear;
    box-shadow:
        0 0 100px 70px rgb(178, 184, 183)
}
@keyframes moon {
    0% {}
    5% {}
    10% {}
    15% {}
    20% {}
    25% {}
    30% {}
    35% {}
    40% {}
    45% {}
    50% {left: -150px; bottom: -70px;}
    55% {left: 210px; top: -120px;}
    60% {left: 420px; top: -150px;}
    65% {left: 630px; top: -170px;}
    70% {left: 840px; top: -190px;}
    75% {left: 1050px; top: -200px;}
    80% {left: 1260px; top: -190px;}
    85% {left: 1470px; top: -170px;}
    90% {left: 1680px; top: -150px;}
    95% {left: 1890px; top: -120px;}
    100% {left: 2200px; top: -70px;}
}
.mooninside {
    display: inline-block;
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #898e8f;
    border-radius: 50%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}